# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
env/
ENV/

# Environment Variables
.env
.env.*

# IDEs / Editors
.vscode/
.idea/

# Testing / Type Checking
.pytest_cache/
.mypy_cache/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
